body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, #4caf50, #81c784);
  color: white;
  text-align: center;
  padding: 20px 0;
}

header a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

header a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: center;
  }
}

.experience {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: 1px solid #4caf50; /* Use a color from the header */
  padding-bottom: 10px;
}

.job-title {
  font-weight: bold;
}

.time-span {
  font-style: italic;
}

@media (min-width: 768px) {
  .experience {
    flex-direction: row;
    justify-content: space-between;
  }
}

footer {
  background: linear-gradient(to right, #4caf50, #81c784);
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: #ddd;
}
