* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 1.6;
}

.header {
  text-align: center;
  background-color: lightblue;
  padding: 2rem;
}

.header-content {
  font-size: 3rem;
}

.header-content h1 {
  font-size: 1em;
}

.header-content p {
  font-size: 0.25em;
}

.main {
  max-width: 80ch;
  margin: 0 auto;
  padding: 2rem;
}
